.education {
  padding: 20px;
  .eduHeader {
    >h2 {
      display: inline-block;
      width: calc(100% - 150px);
    }
    >p {
      display: inline-block;
      vertical-align: top;
      width: 150px;
      text-align: right;
      padding-top: 5px;
    }
  }
  .eduAddress {
    margin: 0;
  }
}
