.basicInfo {
  padding: 10px 20px;
  .profileImage {
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }
  .contact {
    margin-bottom: 10px;
  }
  .rowInfo {
    >p {
      display: inline-block;
      margin: 5px 0;
      &:nth-child(1) {
        width: 100px;
      }
    }
  }
  .socialIcons {
    >a {
      margin-right: 20px;
      // color: #F1F1F1;
      color: #0de599;
    }
  }
}
