.experience {
  padding: 10px 20px;
  .exHeader {
    width: 100%;
    >h2 {
      display: inline-block;
      width: calc(100% - 150px);
    }
    >p {
      display: inline-block;
      width: 150px;
      text-align: right;
      color: #7A7A7A;
    }
  }
}
