@import './components/BasicInfo/BasicInfo.scss';
@import './components/Profile/Profile.scss';
@import './components/Skills/Skills.scss';

.app {
  margin: 20px 100px;
  background-color: #333;
  color: #F1F1F1;
  .left {
    display: inline-block;
    width: 40%;
    background-color: yellow;
  }
  .right {
    display: inline-block;
    width: 60%;
  }
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 14px;
}
