@import './components/BasicInfo/BasicInfo.scss';
@import './components/Profile/Profile.scss';
@import './components/Skills/Skills.scss';
@import './components/Experience/Experience.scss';
@import './components/Education/Education.scss';
@import './components/Interests/Interests.scss';
@import './components/References/References.scss';

.app {
  margin: 0 150px;
  padding: 20px 5px;
  background-color: #333;
  color: #F1F1F1;
  .left {
    display: inline-block;
    width: 38%;
    border-right: 3px solid gray;
  }
  .right {
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }
  @media(max-width: 767px) {
    margin: 0;
  }
}

.title {
  padding-bottom: 10px;
  border-bottom: 3px solid #0de599;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 14px;
}
