@media(min-width: 768px) {
  .app {
    padding: 20px 5px;
    background-color: #333;
    color: #F1F1F1;
    width: 768px;
    margin: 0 auto;
  }
  .app .left {
    display: inline-block;
    width: calc(38% - 3px);
    border-right: 3px solid gray;
  }
  .app .right {
    display: inline-block;
    width: 62%;
    vertical-align: top;
  }
}
@media(min-width: 992px) {
  .app {
    padding: 20px 5px;
    background-color: #333;
    color: #F1F1F1;
    width: 992px;
    margin: 0 auto;
  }
}
@media(max-width: 767px) {
  .app {
    padding: 20px 5px;
    background-color: #333;
    color: #F1F1F1;
    margin: 0;
  }
}
.title {
  padding-bottom: 10px;
  border-bottom: 3px solid #0de599;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 14px;
}